@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a su agenda de telefonos de Sistemas Plenario</h1>
    <p>Learn about <a href="https://www.sistemasplenario.com.ar/">Visite nuestra web para mas información</a>.</p>
</div>
